html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
}
.search {
    display: grid;
    grid-template-columns: 0.08fr 0.6fr;
    align-content: center;
    width: 100%;
}

label.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('pictures/magnify.png') no-repeat;
}

button#notification {
    width: 30px;
    height: 30px;
    background: url('pictures/bell-cog-outline.png') no-repeat;
    background-size: 100% 100%;
    border: none;
}

img#panda {
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

.notifications {
    display: grid;
    grid-template-columns: 50px 60px 160px;
    justify-content: right;
    

}
span#notification {
    display: grid;
    justify-items: left;
    align-items: center;
}

span#pandaSmall {
    display: grid;
    justify-items: left;
}

span#user {
    display: grid;
    justify-items: left;
    align-self: center;
    font-weight: bold;
}