html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

body {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 0.5fr 5fr;
    margin: 0;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1.1fr 1.2fr;
    grid-column: 2/4;
    padding: 0 40px 10px 40px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.search {
    display: grid;
    grid-template-columns: 0.08fr 1fr;
    align-content: center;
    align-items: center;
    
}

input#searchbar {
    background-color: rgba(0,0,0, 0.1);
    border-radius: 15px;
    border: none;
    height: 20px;
}

label.icon {
    display: inline-block;
    width: 35px;
    height: 20px;
    background: url('pictures/magnify.png') no-repeat;
    
}

button#notification {
    width: 30px;
    height: 30px;
    background: url('pictures/bell-cog-outline.png') no-repeat;
    background-size: 100% 100%;
    border: none;
}

img#pandaOne {
    width: 45px;
    height: 45px;
    border-radius: 35px;
}

img#pandaTwo {
    width: 63px;
    height: 61px;
    border-radius: 35px;
}

.notifications {
    display: grid;
    grid-template-columns: 55px 70px 120px;
    justify-content: right;
    align-content: center;
    
    

}
span#notification {
    display: grid;
    justify-items: center;
    align-items: center;
}

span#pandaSmall {
    display: grid;
    justify-items: center;
    align-items: center;
}

span#user {
    display: grid;
    align-self: center;
    justify-items: center;
    font-weight: bold;
}

.welcome {
    display: grid;
    grid-template-columns: 80px 265px;
}

.welcomeMessage {
    display: grid;
    grid-template-rows: 35px 35px;
    
}

span.small {
    font-size: 0.8rem;
    align-self: center;
    font-weight: bold;
}

span.large  {
    font-size: 1.2rem;
    font-weight: 900;
}

.buttons {
    display: grid;
    align-items: center;
    grid-template-columns: 90px 90px 90px;
    justify-content: right;
    column-gap: 20px;
    
    
}

.buttons button {
    width: 90px;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: royalblue;
    color: rgba(355, 355, 355, 0.938);
    font-weight: bold;

}

.sidebar {
    background-color:burlywood;
    display: grid;
    grid-row: 1 / 4;
    grid-template-rows: 0.2fr 0.6fr 0.85fr;
    font-weight: bold;
    color: white;
}

.middle div, .bottom div {
    padding-top: 10px;
}

div.item1 {
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    width: 185px;
}

.middle div {
    display: flex;
    align-items: center;
}

.bottom div {
    display: flex;
    align-items: center;
}

img#pineapple {
    width: 35px;
    height: 35px;
}

.sidebar img {
    width: 25px;
    height: 25px;
    
}

.pic {
    margin-left: 20px;
    width: 45px;
}

.title {
    display: flex;
    padding-left: 20px;
    padding-top: 18px;
    background-color: rgba(0, 0, 0, 0.06);
    grid-row: 2 / 3;
    grid-column: 2 / 3 ;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.main {
    display: grid;
    grid-column: 2 / 3;
    background-color: rgba(0, 0, 0, 0.06);
}

.articles {
    display: grid;
    gap: 25px;
    padding: 0 0 50px 20px;
    grid-template-columns: 1fr 1fr;
}

.article {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-items: stretch;
    align-content: center;
    background-color: white;
    border-radius: 6px;
    border-left: 6px solid goldenrod;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
}
.rightSidebar {
    background-color: rgba(0, 0, 0, 0.06);
    grid-row: 2 / 4;
    grid-column: 3 / 4;

}

div.article span:first-of-type{
    font-weight: bold;
}